<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Paciente {{ dados.nome if dados else cpf }}</title>
  </head>
  <body>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, msg in messages %}
            <li class="flash {{ category }}">{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>Cadastro do Paciente:{{ dados.nome if dados else "Novo" }}</h2>

    <form method="post">
      <p><strong>CPF:</strong> {{ cpf|format_cpf }}</p>

      <label for="sus">Nº Cartão SUS:</label><br>
      {% if dados %}
        <input type="text" name="sus" id="sus" value="{{ dados.sus }}" readonly class="readonly"><br><br>
      {% else %}
        <input type="text" name="sus" id="sus" value="" ><br><br>
      {% endif %}

      <label for="nome">Nome:</label><br>
      {% if dados %}
        <input type="text" name="nome" id="nome" value="{{ dados.nome }}" readonly class="readonly" required><br><br>
      {% else %}
        <input type="text" name="nome" id="nome" value="" required><br><br>
      {% endif %}

      <label for="genero">Gênero:</label><br>
      <select name="genero" id="genero">
      <option value="">-- selecione --</option>
        <option value="Masculino" {% if dados and dados.genero == 'Masculino' %}selected{% endif %}>Masculino</option>
        <option value="Feminino" {% if dados and dados.genero == 'Feminino' %}selected{% endif %}>Feminino</option>
        <option value="Outro" {% if dados and dados.genero == 'Outro' %}selected{% endif %}>Outro</option>
      </select><br><br>


      <label for="altura">Altura (cm):</label><br>
      <input type="text" name="altura" id="altura" value="{{ dados.altura if dados else '' }}" required><br><br>

      <label for="peso">Peso (kg):</label><br>
      <input type="text" name="peso" id="peso" value="{{ dados.peso if dados else '' }}" required><br><br>
      <label for="tipo_sanguineo">Tipo sanguíneo:</label><br>
      {% set tipos = ['A+','A-','B+','B-','AB+','AB-','O+','O-', 'Não identificado'] %}
      {% if dados %}
        <select id="tipo_sanguineo_display" disabled class="readonly" required>
          <option>{{ dados.tipo_sanguineo }}</option>
        </select>
        <input type="hidden" name="tipo_sanguineo" value="{{ dados.tipo_sanguineo }}" required><br><br>
      {% else %}
        <select name="tipo_sanguineo" id="tipo_sanguineo" required>
          <option value="">-- selecione --</option>
          {% for t in tipos %}
            <option value="{{ t }}">{{ t }}</option>
          {% endfor %}
        </select><br><br>
      {% endif %}

      <label for="data_nascimento">Data de nascimento:</label><br>
      {% if dados %}
        <input type="date" name="data_nascimento" id="data_nascimento" value="{{ dados.data_nascimento }}" readonly class="readonly" required><br><br>
      {% else %}
        <input type="date" name="data_nascimento" id="data_nascimento" value="" required><br><br>
      {% endif %}

      <label for="cep">CEP:</label><br>
      <input type="text" name="cep" id="cep" value="{{ dados.cep if dados else '' }}" required><br><br>

      <label for="bairro">Bairro:</label><br>
      <input type="text" name="bairro" id="bairro" value="{{ dados.bairro if dados else '' }}" required><br><br>

      <label for="rua">Rua:</label><br>
      <input type="text" name="rua" id="rua" value="{{ dados.rua if dados else '' }}" required><br><br>
    {% if imc %}
    <div>
        <h3>Resultado do IMC</h3>
        <p><strong>IMC:</strong> {{ imc }}</p>
        <p><strong>Classificação:</strong> {{ classificacao }}</p>
    </div>
    {% endif %}
      <button type="submit">{{ 'Salvar Alterações' if dados else 'Cadastrar' }}</button>
    </form>

    <p><a href="{{ url_for('index') }}">Voltar ao início</a></p>
    <p><a href="{{ url_for('lista') }}">Lista de pacientes</a></p>
    {% if dados %}
    <a href="{{ url_for('questionario', cpf=dados.cpf) }}">Questionário de Saúde</a>
    {% endif %}

  </body>
</html>
